
* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(237, 241, 241);
    
  }

.navbar {
    background-color:  rgb(3, 4, 63); 
    color:rgb(3, 4, 63);
    padding:10px;
  }


nav span {
    background-color: rgb(217, 238, 241);
}
.navbar a {
    margin-left: 25px;
    color:rgb(217, 238, 241);
    text-decoration: none;
    border-bottom: solid 3px rgb(217, 238, 241);
    font-size: 15pt;
  }
  
.navbar h2 {
    padding-right:10px;
    background-color: rgb(217, 238, 241);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    font-weight: 500;
  }

.nav {
    margin-bottom: 10px;
}


.jumbotron {
    background-image: url("../images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jumbotron-text {
    color:rgb(217, 238, 241);
    background-color: rgba(3, 4, 63, 0.9);
    padding: 20px;
}
.jumbotron-text h2 {
    font-size: 35pt;
}

.jumbotron-text p {
    font-size:17pt;
}

.jumbotron img {
    border: solid 5px rgb(3, 4, 63);
    margin-right: 80px;
}

.jumbotron .btn {
    background-color: rgb(217, 238, 241);
    color:rgb(3, 4, 63)
}

.card {
    background-color: rgba(3, 4, 63, 0.9);
    color: rgb(217, 238, 241);
    margin: 10px;
    font-weight: 500;
}

#work {
    margin-bottom: 70px;
}

#work-grid {
    display: flex;
    justify-items: end;
}

#work h2 {
    font-size: 30pt;
    color: rgba(3, 4, 63, 0.9);
    border-bottom: solid 5px rgba(3, 4, 63, 0.9);
}


.project2 {
    margin-left: 30px;
}


#skills {
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#skills h2 {
    color: rgba(3, 4, 63, 0.9);
    border-bottom: solid 5px rgba(3, 4, 63, 0.9);
    font-size: 30pt;
    margin-bottom: 20px;
}

#skills li {
    background-color: rgb(217, 238, 241);
    color: rgba(3, 4, 63, 0.9);
    text-align: center;
    font-weight: 600;
    border: solid 1px rgba(3, 4, 63, 0.9);
}

#about h2 {
    color: rgba(3, 4, 63, 0.9);
    border-bottom: solid 5px rgba(3, 4, 63, 0.9);
    font-size: 30pt;
    margin-bottom: 20px;
}

#about {
    color: rgba(3, 4, 63, 0.9);
    padding-right: 50px;
    padding-left: 50px;
}
#about p {
    margin-bottom: 30px;
}

#about h3 {
    margin-top: 20px;
    text-align: center;
}

.links {
    text-align: center;
    margin-bottom: 50px;
}

.links a {
    margin-right: 10px;
    border-bottom: solid 1px rgb(3, 4, 63);
    color: rgb(3, 4, 63);
    text-decoration: none;
    font-size: 15pt;
}

.links a:hover {
    color: rgb(0, 82, 175);
}


footer {
    background-color: rgb(3, 4, 63);
    color:rgb(217, 238, 241);
    text-align: center;
    padding:20px;
    
}

@media only screen and (max-width: 990px) {
    .project2 {
        margin-left: 10px;
    }
}